:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
/* 
*{
  box-sizing: border-box;
} */
body{
  background-color:lightgrey;
}
.container{
  text-align: center;
  max-width: 300px;
  margin: auto;
  border: 1px solid black; 
  max-width: 350px;
  padding: 30px;
  /* background-color: grey; */
  
}
h5{
  margin: 0;
}
h4{
  margin: 0;
}
.transaction-card{
  display: flex;
  background-color: white;
  justify-content: space-between;
  margin-bottom: 10px;
  width:auto;
  padding: 10px;
  box-shadow:1px 1px 3px black;
  

  /* border: 1px solid black; */
  /* border-radius: 10px; */
}

.btn-container{
  display:none;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  align-items: center;
  justify-content: center;
  background-color: #cccccc77;
   
}
.transaction-card-container{
  position: relative;
}
.transaction-card-container:hover
.btn-container{
  display: flex;
}

.transaction-card.positive{
  border-right: 3.5px solid green;

}

.transaction-card.negative{
  border-right: 3.5px solid red;

}

form label{
  /* display: flex;
  justify-content: space-between;
  margin: auto; 
  padding: 5px;*/
  display: flex;
  margin-bottom: 5px;
}

form input{
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1 px solid #ccc;
}
form button{
  width: 100%;
  padding: 10px;
  background-color: mediumvioletred;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow:1px 1px 8px lightslategray;
}

.Inc-Exp-Container{
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
  padding: 20px;
  /* position: relative;
  right:auto; */
  background-color: #fff;
  border-radius: 10px;  
  box-shadow:1px 1px 8px lightslategray;
}

.Inc-Exp-Container h2{
  margin: 0;

}

.separator{
   width:2px;
   background-color: #ccc; 
}


